# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=t
DB_PASSWORD=
DB_NAME=t


# ALGORITHM = "RS256"
ALGORITHM=

SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=

ADMIN_PASS=

CRYPTOCLOUD_APIKEY=
CRYPTOCLOUD_SHOP_ID=


